<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- 
	author : 不迟any
	source code : https://github.com/NodeWee/mac_text_sub_list
-->

<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>©</string>
		<key>shortcut</key>
		<string>bizcopy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>®</string>
		<key>shortcut</key>
		<string>bizreg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>™</string>
		<key>shortcut</key>
		<string>biztm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>du</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝞴</string>
		<key>shortcut</key>
		<string>lamda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎥</string>
		<key>shortcut</key>
		<string>lfm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µ</string>
		<key>shortcut</key>
		<string>mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎡</string>
		<key>shortcut</key>
		<string>pfm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>￥</string>
		<key>shortcut</key>
		<string>rmb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>theta</string>
	</dict>
</array>
</plist>
