<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
	author : 不迟any
	source code : https://github.com/NodeWee/mac_text_sub_list
-->

<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>ʕ͙•̫͑͡•ʔͦʕͮ•̫ͤ͡•ʔ͙</string>
		<key>shortcut</key>
		<string>aini</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ˊσ̴̶̷̤ ₋̮̑ σ̴̶̷̤ˋ)₊ෆ⃛⁺˚</string>
		<key>shortcut</key>
		<string>aini</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡〜٩( ╹▿╹ )۶〜♡</string>
		<key>shortcut</key>
		<string>baobao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩(๏.๏)۶</string>
		<key>shortcut</key>
		<string>baobao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᔪ(°ᐤ°)ᔭᐤᑋᑊ̣</string>
		<key>shortcut</key>
		<string>biao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(≧▽≦)</string>
		<key>shortcut</key>
		<string>biao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡⸜(ू ˃̶̤́ д ˂̶̤̀⑅</string>
		<key>shortcut</key>
		<string>biao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,,Ծ‸Ծ,,</string>
		<key>shortcut</key>
		<string>bushuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣^￣)ゝ</string>
		<key>shortcut</key>
		<string>bushuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᶘᵒᴥᵒᶅ</string>
		<key>shortcut</key>
		<string>dai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ☉_☉) ﾊﾟﾁｸﾘ｡</string>
		<key>shortcut</key>
		<string>dai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⍬⍸⍬)</string>
		<key>shortcut</key>
		<string>dai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(눈_눈)</string>
		<key>shortcut</key>
		<string>dai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ू˃̣̣̣̣̣̣︿˂̣̣̣̣̣̣ ू)</string>
		<key>shortcut</key>
		<string>daku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>。・°°・(꒦ິ⌑꒦ີ)・°°・。</string>
		<key>shortcut</key>
		<string>daku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑‾᷆д‾᷇๑)Fightᵎᵎ</string>
		<key>shortcut</key>
		<string>fendou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✧୧(๑•̀⌄•́๑)૭✧</string>
		<key>shortcut</key>
		<string>fendou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◎</string>
		<key>shortcut</key>
		<string>fho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◉</string>
		<key>shortcut</key>
		<string>fho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◻︎</string>
		<key>shortcut</key>
		<string>fho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☑︎</string>
		<key>shortcut</key>
		<string>fho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☒</string>
		<key>shortcut</key>
		<string>fho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˇ෴ˇ )</string>
		<key>shortcut</key>
		<string>ganga</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʕ̡̢̡ʘ̅͟͜͡ʘ̲̅ʔ̢̡̢</string>
		<key>shortcut</key>
		<string>guanzhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∗ꉺۈꉺ</string>
		<key>shortcut</key>
		<string>guanzhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▄█▀█🌑ｶﾞｰﾝ</string>
		<key>shortcut</key>
		<string>gui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‼！▄█▀█🌑ｶﾞｰﾝ</string>
		<key>shortcut</key>
		<string>gui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✌(՞ټ՞ )✌</string>
		<key>shortcut</key>
		<string>guilian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>-ι_-</string>
		<key>shortcut</key>
		<string>han</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(-_-;)</string>
		<key>shortcut</key>
		<string>han</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(|||❛︵❛.)</string>
		<key>shortcut</key>
		<string>han</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|•̀ ̫•́ |﻿</string>
		<key>shortcut</key>
		<string>haoqi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ღ'ᴗ'ღ</string>
		<key>shortcut</key>
		<string>hi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ•ﻌ•́✧</string>
		<key>shortcut</key>
		<string>hi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(°皿°)</string>
		<key>shortcut</key>
		<string>jingya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑°０°๑)</string>
		<key>shortcut</key>
		<string>jingya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ꐦ°᷄д°᷅)</string>
		<key>shortcut</key>
		<string>jingya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ( ꒪□꒪)‼</string>
		<key>shortcut</key>
		<string>jingya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣Д￣;)</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´^`*)…</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＞_＜↯↯</string>
		<key>shortcut</key>
		<string>jiujie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑• . •๑)♡</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ˊo̴̶̷̤⌄o̴̶̷̤ˋ)✧</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⁎⁍̴̀◡⁍̴́⁎)♡</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´ ˘ `*)</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=^ェ^=</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑'ᴗ'๑)</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ˊo̴̶̷̤ ‧̫ o̴̶̷̤ˋ)</string>
		<key>shortcut</key>
		<string>kelian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑•́ ₃ •̀๑)</string>
		<key>shortcut</key>
		<string>kelian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( •̥́ ˍ •̀ू )</string>
		<key>shortcut</key>
		<string>kelian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⌐■_■)</string>
		<key>shortcut</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⌇ຶД⌇ຶ)</string>
		<key>shortcut</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
		<key>shortcut</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>TAT</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>T^T</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(┳＿┳)...</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( &gt;﹏&lt;。)～呜呜呜…… </string>
		<key>shortcut</key>
		<string>wuwu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‧⁺◟( ᵒ̴̶̷̥́ ·̫ ᵒ̴̶̷̣̥̀ )</string>
		<key>shortcut</key>
		<string>liulei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( •̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩́ ˑ̫ •̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̩̀)</string>
		<key>shortcut</key>
		<string>liulei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◟( ᵒ̴̶̷̥́ ·̫ ᵒ̴̶̷̣̥̀ )</string>
		<key>shortcut</key>
		<string>liulei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(╥﹏╥)o</string>
		<key>shortcut</key>
		<string>liulei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑⃙⃘ᵒ̴̶̷̥́ ·̫ ᵒ̴̶̷̣̥̀๑⃙⃘)</string>
		<key>shortcut</key>
		<string>nanguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡•́︿•̀｡)</string>
		<key>shortcut</key>
		<string>nanguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ㆆ﹏ㆆ</string>
		<key>shortcut</key>
		<string>nanshou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(৹ᵒ̴̶̷᷄﹏ᵒ̴̶̷᷅৹)</string>
		<key>shortcut</key>
		<string>nanshou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(&gt;_&lt;)ͪͨͧͦ</string>
		<key>shortcut</key>
		<string>nanshou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,,Ծ‸Ծ,,</string>
		<key>shortcut</key>
		<string>ningshi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ὸ⍸ό)✧</string>
		<key>shortcut</key>
		<string>ningshi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(̿▀̿ ̿Ĺ̯̿̿▀̿ ̿)̄</string>
		<key>shortcut</key>
		<string>ningshi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑´◔ ◔`๑)</string>
		<key>shortcut</key>
		<string>pa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(◞ꈍ∇ꈍ)◞❤</string>
		<key>shortcut</key>
		<string>qinqin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◟(∗˃̶〰˂̶∗)◞</string>
		<key>shortcut</key>
		<string>qinqin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ ﾟﾛﾟ≡( 　 ノ)ﾉ</string>
		<key>shortcut</key>
		<string>qusi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(‾^‾)ง⁼³₌₃</string>
		<key>shortcut</key>
		<string>shengqi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(‘⌒´メ)ノ</string>
		<key>shortcut</key>
		<string>shengqi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(‘⌒´メ)ノ</string>
		<key>shortcut</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(‘⌒´メ)ノ</string>
		<key>shortcut</key>
		<string>fan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>tanshou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(∩ˊ͈ ‧̫ ˋ͈∩)</string>
		<key>shortcut</key>
		<string>touxiang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(•̴̑.̶̥•̴̑ (•̥̑.̮•̥̑) •̴̑.̶̥•̴̑)</string>
		<key>shortcut</key>
		<string>weiguan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( =̴̶̷̤̄ .̫ =̴̶̷̤̄ )</string>
		<key>shortcut</key>
		<string>weixiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◠‿◠</string>
		<key>shortcut</key>
		<string>weixiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（¯﹃¯）</string>
		<key>shortcut</key>
		<string>wuliao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣‐￣)んー</string>
		<key>shortcut</key>
		<string>wuliao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;ﾟдﾟ)ｪ..</string>
		<key>shortcut</key>
		<string>wuyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(☍ㅎ_ㅎ)</string>
		<key>shortcut</key>
		<string>wuyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣ー￣)ゞフッ</string>
		<key>shortcut</key>
		<string>wuyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y=ｰ( ﾟдﾟ)･∵.</string>
		<key>shortcut</key>
		<string>xiangsi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⁎ְְ⁍̵̆ᴗְְְ⁍ັ̴⁎)</string>
		<key>shortcut</key>
		<string>xiaoku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=՞ｪ ՞=</string>
		<key>shortcut</key>
		<string>xieyan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡＾▽＾♡</string>
		<key>shortcut</key>
		<string>xihuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ꈍ .̮ ꈍ</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✌(๑˃̶͈̀◡˂̶͈́๑)✌</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(〃▽〃)</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(❛ᴗ❛(❛ᴗ❛♡</string>
		<key>shortcut</key>
		<string>yiqi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ❀⃙⃕⃠⃝⃘⃚౪❀⃙⃕⃠⃝⃘⃚ )</string>
		<key>shortcut</key>
		<string>yun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（∋_∈）</string>
		<key>shortcut</key>
		<string>zhoumei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⇀‸↼‶)</string>
		<key>shortcut</key>
		<string>zhoumei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(#｀Д´)ﾉﾉ┻┻;:'､･ﾞ</string>
		<key>shortcut</key>
		<string>xianzhuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾉ￣□￣)ﾉ ~┻━┻</string>
		<key>shortcut</key>
		<string>xianzhuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（╯' - ')╯︵ ┻━┻ （掀桌子）</string>
		<key>shortcut</key>
		<string>xianzhuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┬─┬ ノ( ' - 'ノ) {摆好摆好）</string>
		<key>shortcut</key>
		<string>baihao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°Д°)╯︵ ┻━┻ (再™的掀一次）</string>
		<key>shortcut</key>
		<string>zaixian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*★,°*:.☆(￣▽￣)/$:*.°★* 。</string>
		<key>shortcut</key>
		<string>sahua</string>
	</dict>
</array>
</plist>
