<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- 
	author : 不迟any
	source code : https://github.com/NodeWee/mac_text_sub_list
-->

<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>①</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>②</string>
		<key>shortcut</key>
		<string>er</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>③</string>
		<key>shortcut</key>
		<string>san</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>④</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑤</string>
		<key>shortcut</key>
		<string>wu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑥</string>
		<key>shortcut</key>
		<string>liu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑦</string>
		<key>shortcut</key>
		<string>qi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑧</string>
		<key>shortcut</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑨</string>
		<key>shortcut</key>
		<string>jiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑩</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
</array>
</plist>
