<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
	Author : 穿卡芦苇(nodewee@gmail.com)
	Source : https://github.com/NodeWee/macOS-Typing-Faster
	Version : 20190403
	License: Creative Commons Attribution-ShareAlike 4.0 International License. (https://creativecommons.org/licenses/by-sa/4.0/)
-->

<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>macalt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>macapple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇪</string>
		<key>shortcut</key>
		<string>maccaps</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>maccmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>maccontrol</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>macctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌅</string>
		<key>shortcut</key>
		<string>macenter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>macopt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>macoption</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋</string>
		<key>shortcut</key>
		<string>macpower</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↩</string>
		<key>shortcut</key>
		<string>macreturn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>macshift</string>
	</dict>
</array>
</plist>
